/* This style sheet has really basic styles for the website */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
}

/* root */
#root {
  background-color: black;
  padding: 10px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  width: 99vw;
  padding: 20px;
}

.headerHeading {
  text-align: center;
  color: white;
  font-size: 48px;
}
.logOutButton {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 1rem;
  padding: 5px;
  background-color: transparent;
  color: white;
  position: absolute;
  right: 20px;
}

.logOutButton:hover {
  border: 1px solid white;
  background-color: white;
  color: red;
}

.headerLogo {
  /* display: block; */
}

/* Menu */
.MenuList {
  /* border: 1px solid red; */
}

.MenuList nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLinks {
  color: white;
  font-size: 40px;
  list-style-type: none;
  padding: 10px 30px;
}

.navLinks:hover {
  transform: scale(1.1);
  color: white;
}
/* Landing page */

.shopDescription {
  color: white;

  padding: 50px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
}

/* signInPage */
.LogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LogInHeading {
  text-align: center;
  font-size: 2.25rem;
}

.signInPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInPageLogo {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.logInButton {
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 1rem;
  padding: 5px;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}

.logInButton:hover {
  border: 1px solid white;
  background-color: white;
  color: green;
}

.userSignIn {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
}

/* Shopping Page */

.shoppingPage {
  text-align: center;
}

.shoppingPage h3 {
  color: white;
}

/* Profile */
.userProfile {
  width: 400px;
  margin: 20px auto;
}
.userProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userProfileInputs {
  padding: 10px;
  border-radius: 2rem;
}

.userProfileButton {
  width: 60%;
  margin: auto;
}

.displayError {
  text-align: center;
  color: red;
}

.displaySuccess {
  text-align: center;
  color: green;
}
